.daohang{
	background-size: 1082px 35px;
	margin-top: 0px;
}
.content{
	float: left;
}
.content_left{
	width:250px;
	height: 450px;
	float: left;
	margin-top: 100px;
	margin-left: 20px; 
}
h1{
	color: #D2691E;

}
h2{
	color: #D2691E;
	text-decoration: none;
}
.img3 img{
	margin-top: 100px;
}
.content_right{
	width: 700px;
	height: 600px;
	list-style-type: none;
	font-size: 14px;
	line-height: 2em;
	float: left;
}
span{
	float: right;
	margin-right: 100px;
}